<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eus.ehu.tta.graphiapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/registerLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userHomeActivity"
            android:label="@string/userHomeLabel">
        </activity>
        <activity
            android:name=".applicationHelpActivity"
            android:label="@string/applicationHelpLabel" />
        <activity android:name=".drawerStudentActivity" />
        <activity android:name=".drawerTeacherActivity" />
        <activity
            android:name=".GameModesActivity"
            android:label="@string/gameModesLabel" />
        <activity
            android:name=".IndividualModeActivity"
            android:label="@string/individualModeLabel" />
        <activity
            android:name=".LevelsActivity"
            android:label="@string/levelsLabel" />
        <activity
            android:name=".Level1Activity"
            android:label="@string/level1Label" />
        <activity
            android:name=".Level2Activity"
            android:label="@string/level2Label" />
        <activity
            android:name=".Level3Activity"
            android:label="@string/level3Label" />
        <activity
            android:name=".Level4Activity"
            android:label="@string/level4Label" />
        <activity
            android:name=".Level5Activity"
            android:label="@string/level5Label" />
        <activity
            android:name=".Level8Activity"
            android:label="@string/level8Label" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TeacherHomeActivity" />
        <activity android:name=".coreActivity" />
        <activity android:name=".PostLevel1Activity" />
        <activity android:name=".PostLevel2Activity" />
        <activity android:name=".PostLevel3Activity" />
        <activity android:name=".PostLevel4Activity" />
        <activity android:name=".PostLevel5Activity" />
        <activity android:name=".PostLevel8Activity" />
        <activity android:name=".TrackingActivity"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.eus.ehu.tta.ttaejemplo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>